node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
.env
.env.example
Thumbs.db
.DS_Store
.vscode
.idea
*.log
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
storage/app/public/*
!storage/app/public/.gitkeep
bootstrap/cache/*
!bootstrap/cache/.gitkeep
vendor/
.phpunit.result.cache
tests/
*.md
